* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #141414;
}
/* Start Header  */
.header {
  width: 100%;
  height: 60px;
  background-color: black;
  position: fixed;
  top: 0;
  /* opacity: 1 ; */
  z-index: 1;
}
.img1 {
  width: 95px;
  height: 30px;
  float: left;
  margin-top: 15px;
  margin-left: 50px;
}
.img1:hover {
  width: 120px;
  transition: 0.5s;
}
.ul1 {
  list-style: none;
  float: left;
  margin-left: 50px;
}
/* nesting */
.ul1 li {
  display: inline-block;
  margin-left: 25px;
  font-size: 14px;
  margin-top: 22px;
}
.ul1 li a {
  text-decoration: none;
  color: #fff;
}
.ul1 li a:hover {
  color: red;
}
/* End Header  */

/* start image */
.main-container {
  background: url(../images/wicher-d45c30759431a68846acca42987466e2_c830748a127d5c5c17a9f5ad2c76ada5.webpw.webp);
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-top: 57px;
  background-color: red;
  color: black;
  position: relative;
}
.text {
  position: absolute;
  margin-top: 80px;
  margin-left: 15px;
  color: white;
}
.heading1 {
  font-size: 50px;
  font-weight: bold;
}
.heading1:hover {
  opacity: 0.5;
}
.T1 {
  margin-top: 60px;
  font-size: 17px;
}
.T1:hover {
  opacity: 0.5;
}
.btnp1,
.btnp2 {
  margin-top: 102px;
  border-radius: 10px;
  width: 120px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  /* color: #fff; */
 
}
.btnp1 {
  margin-left: 4px;
}
.btnp2 {
  margin-left: 25px;
  background-color: rgb(219, 207, 207 );
}

.btnp1:hover {
  opacity: 0.5;
}
.btnp2:hover {
  opacity: 0.5;
}
/* end image */
/* ------------------------------------------------------------------------ */
.container-boxes div {
  background-color: pink;
  width: 300px;
  height: 370px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 70px;
}
.container-boxes div:hover {
  opacity: 0.5;
}
.box1 {
  margin-left: 100px;
  background: url(../images/monyreEMJA1uzscCbkpeRJeTT2bjqUp.jpg);
  background-size: cover;
}
.box2 {
  margin-left: 70px;
  margin-right: 70px;
  background: url(../images/gennyMV5BNmUwMzMxODQtNjU1MC00NjU3LWJhOGYtMDZlMzM1N2EyZTU5XkEyXkFqcGdeQXVyMTMzNzIyNDc1._V1_.jpg);
  background-size: cover;
}
.box3 {
  background: url(../images/Emily-in-Paris-800x1120.webp);
  background-size: cover;
}
/* ---------------------------------------------------------------------- */
.container-text2 {
  margin-top: 130px;
  margin-left: 70px;
  color: white;
}
.heading2 {
  font-size: 50px;
  font-weight: bold;
}
.heading2:hover {
  opacity: 0.5;
  font-size: 60px;
  transition: 0.5s;
}
.t2 {
  font-size: 30px;
  line-height: 70px;
}

/* ------------------------------------------------------------ */
/* Start Form */
.container-form {
  background-color: white;
  width: 500px;
  margin-left: 65px;
  margin-top: 45px;
  padding: 25px 45px;
  border-radius: 10px;
}
.lab {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}
.main-input {
  display: inline-block;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border: none;
}
::placeholder {
  font-size: 20px;
}
.textarea {
  display: inline-block;
  width: 100%;
  height: 45px;
  margin-top: 30px;
  height: 150px;
}
.btn1 {
  background-color: #e50914;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 193px;
  margin-top: 70px;
  margin-left: 105px;
}
/* -------------------------------------------- */
.end {
  margin-top: 50px;
}
